.match-container {
    height: 26vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    margin-bottom: 4vh;
}

.match-teams-box {
    height: 70%;
    width: 100%;
    background-image: -webkit-linear-gradient(-20deg, #EEEDED 50%, #E3E3E3 50%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.match-home-team-container, .match-away-team-container {
    height: 100%;
    width: 45%;
}

.match-team-topbox {
    height: 25%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.match-team-topbox.home {
    align-items: flex-start;
}

.match-team-topbox.away {
    align-items: flex-end;
}

.match-league-image {
    object-fit: cover;
    height: 24px;
}

.match-team-extrabox {
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2%;
}

.match-team-extrabox.home {
    align-items: flex-end;
}

.match-team-extrabox.away {
    align-items: flex-start;
}

.match-team-penalty {
    margin: 0;
    color: #848181;
    font-size: .8rem;
}

.match-team-result {
    height: 55%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.match-team-name {
    margin: 0;
    color: #322D2D;
    font-size: .9rem;
    width: 57%;
    overflow-wrap: break-word;
    line-height: 1rem;
    font-weight: 600;
}

.match-team-name.home {
    text-align: left;
}

.match-team-name.away {
    text-align: right;
}

.match-team-logo-box {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}

.match-team-logo {
    object-fit: contain;
    max-height: 100%;
    max-width: 100%;
}

.match-team-goals {
    width: 15%;
    margin: 0;
    color: #322D2D;
    font-size: 1.5rem;
}

.match-team-goals.home {
    text-align: right;
}

.match-team-goals.away {
    text-align: left;
}

.match-details-box {
    height: 30%;
    width: 100%;
    background-color: #1E1E1E;
    padding: 0 3%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.match-details-box-competition {
    width: 70%;
}

.match-details-box-datetime {
    text-align: right;
    width: 30%;
}

.match-details-title {
    margin: 0;
    color: white;
    font-size: 1rem;
}

.match-details-subtitle {
    margin: 0;
    color: #D6D5D5;
    font-size: .9rem;
}

@media screen and (max-width: 480px) {
    
    .match-teams-box {
        height: 70%;
        width: 100%;
        background-image: -webkit-linear-gradient(-20deg, #EEEDED 50%, #E3E3E3 50%);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-left: 3%;
        padding-right: 3%;
        padding-top: 2.5%;
        padding-bottom: 5%;
    }

}