.source-button-box {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
}

.source-button-box-image {
    height: 60%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1.5px solid #EEEDED;
    background-color: #FAFAFA;
    padding: 0;
}

.source-button-box-image:hover {
    cursor: pointer;
}

.source-button-box-image.selected {
    border: 1.5px solid #FF5050;
}

.source-button-box-text {
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.source-button-name {
    margin: 0;
}

.source-button-image {
    object-fit: cover;
    max-height: 90%;
    max-width: 90%
}

.source-button-name {
    font-size: .8rem;
    text-align: center;
}

@media screen and (max-width: 480px) {

    .source-button-image {
        object-fit: cover;
        max-height: 90%;
        max-width: 90%
    }

}